body {
    margin: 0;
    max-height: 100vh;
    overflow-y: hidden;
    background-color: #ECF0F1;
}

div {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    border: 2px lightgray dashed
}

h1 {

    font-family: verdana;

}

canvas {
    display: block;
	margin: 0 auto;
}